@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&display=swap');

body {
    font-family: 'Amatic SC', cursive;
    color: #8A5B7B;

}
#listPage.print {
    background-color: #F9D2EC;
    padding: 20px;
    font-family:'Pacifico', cursive;
}
#listPage.print ul {
    margin: 10px 0px;
    padding: 0px;
    border-left: 4px double red;
}
#listPage.print li {
    list-style-type:none;
    margin: 0px -20px;
    padding-left: 26px;
    border-bottom: 1px solid #FF7BD5;
    line-height: 36px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;

}